body{
    background-image: url("northpole.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    margin: 2em;
}

h1{
    color: #00A5E6;
    font-family: 'Mountains of Christmas', cursive;
    text-align: center;
    font-size: 6.3em; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

p{
    font-family: 'Lato', sans-serif;
    color: #242E33;
    font-size: 1.6em;
    font-weight: bolder;
    letter-spacing: .7px;
}

.intro-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3em;
    margin: 2.5em;
}

.intro3 {
    text-align: center;
}

.intro1, .intro2{
    text-align: left;
}

.button-container{
    display: flex;
}

#button {
    background:#9CB8D2;
    border-radius: 12px;
    font-size: 1.6em;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding: 10px 22px;
    box-shadow: 5px 10px #7a7a7a;
    text-align: center;
    color: rgb(184, 33, 33);
}

a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: rgb(184, 33, 33);
    font-family: 'Mountains of Christmas', cursive;
    font-weight: bold;   
}

#axis:hover .move-ne {
    transform: translate(350px,-350px);
    -webkit-transform: translate(350px,-350px);
    -o-transform: translate(350px,-350px); 
    -moz-transform: translate(350px,-350px);
     
}

h2{
    color: #00A5E6;
    font-family: 'Mountains of Christmas', cursive;
    text-align: center;
    font-size: 5em;
}

.letter-container{
    display: flex;
}

.letter-intro{
    margin-top: 10em;
}

#gift{
    text-align: center;
}

.letter-folder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 40px;
    padding-bottom: 30px;
}

#giftxt{
    text-align: center;
    margin-bottom: -40px;
}

p,
h2 {
  margin: 0px;
  padding: 0px;
}

#btn {
    background: transparent;
    color: rgb(192, 42, 42);
    padding: 12px 16px;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    position: absolute;
    left: 0;
}

